header{
  background-image: url("http://pavbca.com/walldb/original/c/5/2/322811.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.MarvelGif{
  background-size: 15rem 20rem;
  background-repeat: no-repeat;
  background-attachment: local ;
  max-width: 100%
  padding: 15em;

}
.MarvelGif #imgmarvel{
  margin-right: 10rem;
  margin-top:20rem;
  margin-bottom: 0rem;
  margin-left: 30rem;
  width: 20rem;
  height: 11rem;
}
#container{

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.container {

 display: inline-block;

}

main{
background-color: #861B1C;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1,h2{

  color: white;
}
