*{
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

header{
    background-image: url("http://pavbca.com/walldb/original/c/5/2/322811.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-attachment: fixed;
    top: 0;
    position: center;
    width: 100%;
    height: 40rem;

}

.MarvelGif {
    background-size: 15rem 20rem;
    background-repeat: no-repeat;
    background-attachment: local;
    max-width: 100%;
    padding: 28rem;
}

.MarvelGif #imgmarvel{
    margin: auto;
    width: 28rem;
    height: 11rem;
    background-attachment: fixed;
    position: center;
}

body {
    background-color: #861B1C;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2 {
    color: #0f0303;
    font-size: 3rem;
}

h2:hover {
    color: #520404;
    transition: all .3s;
}

#header {
    float: right;
    margin-top: 0;
    padding: 3.5rem;
    position: relative;
    padding-top: 0;
    z-index: 1;
}

    .navigation{
        margin:auto;
        width: 10rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    ul, ol{
        list-style:none;
    }

    .nav li a {
        background-color: #000;
        color: #fff;
        text-decoration:none;
        padding: 1rem 1rem;
        display:block;

    }

    .nav li a:hover {
        background-color: #434343;
        color: rgb(235, 28, 28);
    }

    .nav li ul {
        display:none;
        position: absolute;
        min-width: 10rem;
    }

    .nav li:hover > ul{
        display:block;
    }

    .nav li ul li {
        position:relative;
    }

    .nav li ul li ul {
        right: 10.2rem;
        top: 0px;
    }

    .nav li ul li ul li ul {
        right: 10.1rem;
        top: 0px;
    }

    .nav .xmen {
        right: 10.2rem;
        top: 0px;
    }

.containerHtml{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 2rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    padding: 1rem;
}


.container {
    display: inline-block;
}

.container:hover #imgPoster{transform:scale(1.2); filter: saturate(190%);}
.containerPrincipal{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 9rem;
}

#container,#container2{

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

/*
.barramenu{
    background-color:#000000;
    width: 60rem;
    height: 3.5rem;
    position: absolute;
    float: right;
    padding-top: 0;
    z-index: -200px;
}*/



.flip-card {
  background-color: transparent;
  width: 205px;
  height: 270px;
  display: inline-block;
  margin-left: 10px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;


}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);

}


#buttonReset {
    position: fixed;
    bottom: 10px;
    background-image: url("http://i63.tinypic.com/6hnnle.jpg");
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    margin: 2rem;
    background: cover;
    background-repeat: no-repeat;
    background-size: 8rem 8rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#buttonReset:hover {
    background-color: #434343;
}
