#container{

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.container {

 display: inline-block;

}

body{
background-image: url("http://static1.squarespace.com/static/533476eee4b044cf7c28f6ca/533482dee4b009cdbfa189eb/54b8628ae4b09cb81d7f998c/1421376050830/?format=1500w");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1,h2{

  color: white;
}
